:root.theme-dark {
  --shdw-footer-title-color:#FF0070;
  --brand-accent:#FF0070;
  --btn-color:#FF0070;
  --title-color:#DB00FF;
  --button-hover-color:#FF007066;
  --main-text-color:#000028;
  --decoration-color:#FF0070;
  --bg-color:#000028;
  --shdw-link-color:#FF0070;
  --scd-color:#FF0070;
  --topic-description-color:#F1B2CE;
  --shdw-title-color:#FF0070;
}

.theme-dark .rec-decor {
  inset-block-start: 20px;
  display: inline-flex;
  visibility: var(--rec-decor-visibility, visible);
  position: absolute;
  inset-inline-end: 30px;
  align-items: center;
  z-index: -1;
  gap: 10px;
}
  
.theme-dark .rec-decor::before {
  content: "REC";
  line-height: 24px;
  color: var(--accent-color, #ff0070);

}

.theme-dark .rec-decor::after {
  content: "";
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  display: inline-block;
  border-radius: 50%;
  block-size: 9px;
  inline-size: 9px;
}

.theme-dark  .page {
  --page-bg-image: url("../images/cover-image-dark.png");
  --main-bg-color: var(#000028);
}

@media (prefers-color-scheme: dark) {
  :root {
    --btn-color:#FF0070;
  --title-color:#DB00FF;
  --shdw-title-color:#FF0070;
  --bg-color:#000028;
  --shdw-link-color:#FF0070;
  --brand-accent:#FF0070;
  --scd-color:#FF0070;
  --main-text-color:#000028;
  --button-hover-color:#FF007066;
  --decoration-color:#FF0070;
  --topic-description-color:#F1B2CE;
  --shdw-footer-title-color:#FF0070;
  }

  .rec-decor::before {
    content: "REC";
    line-height: 24px;
    color: var(--accent-color, #ff0070);
  }

  .rec-decor::after {
    content: "";
    box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
    background: var(--accent-color, #ff0070);
    display: inline-block;
    border-radius: 50%;
    block-size: 9px;
    inline-size: 9px;
  }

  .rec-decor {
    inset-inline-end: 30px;
    position: absolute;
    display: inline-flex;
    gap: 10px;
    visibility: var(--rec-decor-visibility, visible);
    inset-block-start: 20px;
    align-items: center;
    z-index: -1;
  }
    
  .page {
    --main-bg-color: var(#000028);
    --page-bg-image: url("../images/cover-image-dark.png");
  }
}