.page.theme-dark {
  --background-color: #000028;
  --brand-accent: #FF0070;
  --button-hover-bg: rgba(255, 0, 112, 0.40);
  --button-text-color: #FF0070;
  --corner-color: #FF0070;
  --font-family: 'IBM Plex Mono', monospace;
  --gap-medium: 23px;
  --gap-small: 12px;
  --header-bg-color: #db00ff;
  --heading-text-color: #000028;
  --main-text-color: #F1B2CE;
  --rec-element-color: #FF0070;
  --shadow-color: #ff0070;
  --subtitle-text-color: #FF0070;
  --text-font-size: 18px;
  --text-line-height: 23.4px;
  --title-decor: #FF0070;
  --unique-decoration-color: #F1B2CE;
  --footer-bg-color: #db00ff;
  
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page.theme-auto {
    --background-color: #000028;
    --heading-text-color: #000028;
    --main-text-color: #F1B2CE;
    --unique-decoration-color: #F1B2CE;
    --brand-accent: #FF0070;
    --button-text-color: #FF0070;
    --subtitle-text-color: #FF0070;
    --corner-color: #FF0070;
    --rec-element-color: #FF0070;
    --title-decor: #FF0070;
    --shadow-color: #ff0070;
    --button-hover-bg: rgba(255, 0, 112, 0.40);
    --header-bg-color: #db00ff;
    --footer-bg-color: #db00ff;
    --font-family: 'IBM Plex Mono', monospace;
    --text-font-size: 18px;
    --text-line-height: 23.4px;
    --gap-small: 12px;
    --gap-medium: 23px;
    
    background-image: url(../images/cover-image-dark.png);
  }
}