/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color:#000028;
  --title-color:#DB00FF;
  --text-background-decorate-color:#FF0070;
  --text-first-color:#000028;
  --button-color:#FF0070;
  --second-color:#FF0070;
  --description-color:#F1B2CE;
  --decor-color:#FF0070;
  --title-shadow-color:#FF0070;
  --title-footer-shadow-color:#FF0070;
  --link-shadow-color:#FF0070;
  --button-hover-color:#FF007066;
}

.theme-dark  .page {
  --main-background-color: var(#000028);
  --page-background-image: url("../images/cover-image-dark.png");
}

.theme-dark .rec-decor {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 30px;
  inset-block-start: 20px;
}
  
.theme-dark .rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;

}

.theme-dark .rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background-color:#000028;
  --title-color:#DB00FF;
  --text-background-decorate-color:#FF0070;
  --text-first-color:#000028;
  --button-color:#FF0070;
  --second-color:#FF0070;
  --description-color:#F1B2CE;
  --decor-color:#FF0070;
  --title-shadow-color:#FF0070;
  --title-footer-shadow-color:#FF0070;
  --link-shadow-color:#FF0070;
  --button-hover-color:#FF007066;
  }

  .page {
    --main-background-color: var(#000028);
    --page-background-image: url("../images/cover-image-dark.png");
  }

  .rec-decor {
    position: absolute;
    z-index: -1;
    visibility: var(--rec-decor-visibility, visible);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }
    
  .rec-decor::before {
    content: "REC";
    color: var(--accent-color, #ff0070);
    line-height: 24px;

  }

  .rec-decor::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
    background: var(--accent-color, #ff0070);
    inline-size: 9px;
    block-size: 9px;
  }
}