.page.theme-light {
  --background-color: #fff1f7;
  --brand-accent: #ff8dcb;
  --button-hover-bg: rgba(50, 49, 45, 0.40);
  --button-text-color: #353430;
  --corner-color: #353430;
  --font-family: 'IBM Plex Mono', monospace;
  --gap-medium: 23px;
  --gap-small: 12px;
  --header-bg-color: #ffc2e6;
  --heading-text-color: #353430;
  --main-text-color: #353430;
  --rec-element-color: transparent;
  --shadow-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --text-font-size: 18px;
  --text-line-height: 23.4px;
  --title-decor: #ff8dcb;
  --unique-decoration-color: #353430;
  --footer-bg-color: #ffc2e6;
  --button-bg-color: #353430; /* ← добавлено */
  
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page.theme-auto {
    --background-color: #fff1f7;
    --main-text-color: #353430;
    --heading-text-color: #353430;
    --subtitle-text-color: #353430;
    --button-text-color: #353430;
    --corner-color: #353430;
    --unique-decoration-color: #353430;
    --brand-accent: #ff8dcb;
    --title-decor: #ff8dcb;
    --shadow-color: #ff8dcb;
    --header-bg-color: #ffc2e6;
    --footer-bg-color: #ffc2e6;
    --button-hover-bg: rgba(50, 49, 45, 0.40);
    --rec-element-color: transparent;
    --font-family: 'IBM Plex Mono', monospace;
    --text-font-size: 18px;
    --text-line-height: 23.4px;
    --gap-small: 12px;
    --gap-medium: 23px;
    --button-bg-color: #353430;
    
    background-image: url(../images/cover-image-light.png);
  }
}