:root.theme-light {
  --shdw-title-color:#ff8dcb;
  --btn-color:#353430;
  --shdw-footer-title-color:#ff8dcb;
  --bg-color:#fff1f7;
  --scd-color:#353430;
  --button-hover-color:#32312D66;
  --main-text-color:#353430;
  --topic-description-color:#353430;
  --title-color:#ffc2e6;
  --brand-accent:#ff8dcb;
  --decoration-color:#353430;
  --shdw-link-color:#ff8dcb;
}

@media (width>=1024px) {
  :root.theme-light {
    --shdw-footer-title-color:#ff0070;
  }
}
.theme-light .page {
  --page-bg-image: url("../images/cover-image-light.png");
  --main-bg-color: var(#fff1f7);
}