.page.theme-light {
  --background-color: #fff1f7;
  --brand-accent: #ff8dcb;
  --button-hover-bg: rgba(50, 49, 45, 0.40);
  --button-text-color: #353430;
  --corner-color: #353430;
  --font-family: 'IBM Plex Mono', monospace;
  --gap-medium: 23px;
  --gap-small: 12px;
  --header-bg-color: #ffc2e6;
  --heading-text-color: #353430;
  --main-text-color: #353430;
  --rec-element-color: transparent;
  --shadow-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --text-font-size: 18px;
  --text-line-height: 23.4px;
  --title-decor: #ff8dcb;
  --unique-decoration-color: #353430;
  --footer-bg-color: #ffc2e6;
  
  background-image: url(../images/cover-image-light.png);
}

@media (width <= 1024px) {
  .page.theme-light .header__topic-name {
    --shadow-color: #ff8dcb;
  }

  .page.theme-light .footer__title {
    --shadow-color: #ff8dcb;
  }
}