/*вся страница*/

.page {
  font-family: var(--font-family);
  background-color: var(--bg-color/*,#fff1f7*/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(
    --page-background-image,
    url("../images/cover-image-light.png")
  );
  background-attachment: fixed;
}

/*начальный слайд*/

.header {
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vh;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

/*переключатели темы*/

.header__theme-menu {
  justify-self: end;
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  gap: 10px;
  display: grid;
}

.header__theme-menu-button {
  background-color: inherit;
  color: var(--decoration-color);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
  padding: 4px 13px;
  line-height: var(--page-line-height);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decoration-color);
}

/*уголки камеры в хэдере и футере*/

.frame-element::before {
  border-block-start: 1px solid var(--decoration-color);
  justify-self: end;
  inline-size: 25px;
  content: "";
  block-size: 25px;
  position: absolute;
  align-self: flex-start;
  border-inline-end: 1px solid var(--decoration-color);
}

.frame-element::after {
  border-block-end: 1px solid var(--decoration-color);
  justify-self: start;
  inline-size: 25px;
  content: "";
  block-size: 25px;
  position: absolute;
  align-self: flex-end;
  border-inline-start: 1px solid var(--decoration-color);
}

/*что делать если...*/

.header__topic-description {
  justify-content: end;
  grid-column: 1 / 3;
  display: inline-block;
}

/*focus*/

.header__heading {
  color: var(--title-color);
  grid-column: 1 / 3;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

/*основная зона сайта для читателей*/

.main__area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
  margin-block: 40px;
  padding-inline: 10px;
}

.main__area-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
  gap: 20px;
}

.main__area-section__heading {
  grid-column: 1 / 4;
  color: var(--second-color);
  font-weight: var(--bold-text-weight);
  font-size: var(--font-size);
  line-height: var(--page-line-height);
}

/*5 простых советов...*/

.main__area-section__advices {
  grid-column: 1 / 4;
  color: var(--topic-description-color);
  font-weight: var(--bold-text-weight);
  font-size: var(--font-size);
  line-height: var(--page-line-height);
  background-color: var(--first-text-color);
}

.main__area-card {
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  grid-column: 1 / 4;
  row-gap: 10px;
}

.main__area-card__heading {
  grid-column: 1 / 4;
}

.main__area-card__text {
  grid-column: 1 / 4;
  color: var(--topic-description-color);
  font-size: var(--font-size);
  line-height: var(--page-line-height);
}

/*секция сайта с картинками*/

.main__area-visual-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column: 1 / 4;
  gap: var(--cards-gap,10px);
}

.main__area-visual-set__heading {
  grid-column: 1 / 4;
}

.main__area-visual-set__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

/*подзаголовки*/

.subtitle {
  background-color: var(--brand-accent, #FF8DCB);
  color: var(--main-text-color);
  font-size: var(--font-size);
  font-weight: var(--bold-text-weight);
  line-height: var(--page-line-height);
}

/*настройки ссылок в тексте*/

.link-external {
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--link-shadow-color, #FF8DCB);
  cursor: pointer;
}

.link-external:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 2px var(--link-shadow-color, #FF8DCB);
}

.link-external:focus-visible {
  outline: solid 2px var(--decoration-color,#353430);
}

/*footer*/

.footer {
  padding: var(--page-pading, 10px);
  min-block-size: 668px;
  display: grid;
  block-size: 100vh;
}

.footer__heading {
  font-style: Bold;
  justify-self: center;
  line-height: 83%;
  color: var(--title-color, #ffc2e6);
  text-shadow: var( --footer-text-shadow, 2px) var( --footer-text-shadow, 2px) var(--title-footer-shadow-color, #ff0070);
  font-weight: var( --title-font-weight, 700);
  align-self: center;
  font-size: var(--title-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
}

/*медиазапросы*/

/*медиазапрос на планшеты*/

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    position: relative;
  }

  .header__topic-description {
    grid-column: 2 / 3;
  }

  
  .footer {
    padding: 20px;
  }

  .main__area {
    padding-inline: 20px;
    row-gap: 80px;
    margin-block: 60px;
  }

  .main__area-card {
    grid-column: 2 / 3;
  }

  .main__area-section__heading {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .main__area-section {
    grid-template-columns: 1fr 2fr;
  }

  
  .main__area-section > .main__area-section__advices {
    grid-column: 2 / 3;
  }
  
  .main__area-visual-set {
    gap: 20px;
  }
 
  .main__area-visual-set__image {
    object-position: center;
    object-fit: cover;
  }

  .main__area-section:nth-child(2) .main__area-card {
    grid-column: 1 / 4;
  }

  .main__area-visual-set__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .main__area-visual-set__image:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .main__area-visual-set__image:nth-child(4) {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
  }

  .main__area-visual-set__image:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .main__area-visual-set__image:nth-child(6) {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
  }

}

/*медиазапрос на десктопы*/

@media (min-width: 1024px) {
  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .main__area-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--brand-accent-opacity);
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--decoration-color);
    outline: none;
    border: none;
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .main__area-card {
    grid-column: 2 / 4;
  }

  .main__area-section:nth-child(2) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
  }

  .main__area-section:nth-child(2) .main__area-section__heading {
    grid-row: span 1;
  }

  .main__area-section:nth-child(2) .main__area-card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .main__area-section > .main__area-section__advices {
    grid-column: 2 / 4;
  }
}