:root {  
  /*Цвета*/
  --background-color:#fff1f7;
  --title-color:#ffc2e6;
  --text-background-decorate-color:#ff8dcb;
  --text-first-color:#353430;
  --second-color:#353430;
  --description-color:#353430;
  --decor-color:#353430;
  --title-shadow-color:#ff8dcb;
  --title-footer-shadow-color:#ff8dcb;
  --link-shadow-color:#ff8dcb;
  /*Задний фон*/
  --page-background-image:url("../images/cover-image-light.png");
  /*Типография*/
  --main-font-family:'IBM Plex Mono';
  --bold-text-weight:700;
  --page-font-size:18px;
  --page-line-height:23.4px;
  --title-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /*Размеры*/
  --page-padding:10px;
  --cards-gap:10px;
}
@media (width>=1024px) {
  :root {
    --title-footer-shadow-color:#ff0070;
  }
}